<h3>Manager Login</h3>
<div>
	<form method="post" action="/booking/managerloginrequest/">
		{% csrf_token %}
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" class="form-control" placeholder="Username" required />
		<div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>
